<div>
  <mat-tab-group style="justify-content: center;">
    <mat-tab label="The">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-java-problem.jpg'>
      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </mat-tab>
    
    <mat-tab label="Funny">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-wealthy-inheritance.jpg'>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-tab>

    <mat-tab label="Side">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-programmers-butters.jpg'>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </mat-tab>

    <mat-tab label="of">
      <img src='https://pbs.twimg.com/media/Cxneo79VEAA-utS.jpg'>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </mat-tab>

    <mat-tab label="Programming">
      <img src='https://i.imgur.com/uvou947.gif'>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-tab>
  </mat-tab-group>
</div>
