<div>
  <mat-tab-group style="justify-content: center;">
    <mat-tab label="The">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-java-problem.jpg'>
    </mat-tab>

    <mat-tab label="Funny">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-wealthy-inheritance.jpg'>
    </mat-tab>

    <mat-tab label="Side">
      <img src='https://assets.hongkiat.com/uploads/programming-jokes/joke-programmers-butters.jpg'>
    </mat-tab>

    <mat-tab label="of">
      <img src='https://i.pinimg.com/474x/80/3b/4c/803b4cd5e5e855b13d99dd01da95a847--computer-science-humor-programmer-humor.jpg'>
    </mat-tab>

    <mat-tab label="Programming">
      <img src='https://pbs.twimg.com/media/Cxneo79VEAA-utS.jpg'>
    </mat-tab>
  </mat-tab-group>
</div>