@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.form {
  display: grid;
  margin-left: 100px;
  justify-items: left;
}
.form-intro{
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.mat-card {
  text-align: -webkit-center;
}

.form-width {
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.content-center {
  text-align: -webkit-center;
}

.register-form {
  display: inline-block;
}
