<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <mat-toolbar-row>
        <span routerLink="/">
          Home
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row routerLink="/form">
        New Form
      </mat-toolbar-row>
      <mat-toolbar-row routerLink="/humor">
        Coding Comedy
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-toolbar color="accent">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <mat-icon routerLink="/">home</mat-icon>
    Goji Emoji
  </mat-toolbar>
  <div class="body-margin">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>