<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <mat-toolbar-row>
        <span routerLink="/">
          Home
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row routerLink="/form">
        Registration Form
      </mat-toolbar-row>
      <mat-toolbar-row routerLink="/humor">
        Coding Comedy
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-toolbar color="accent">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <mat-icon 
      style='cursor: pointer;' 
      routerLink="/">home
    </mat-icon>
    <span class='title'>Component World!</span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu color='accent' #menu="matMenu">
      <button mat-menu-item>Menu Link</button>
      <button mat-menu-item>That is Lonely</button>
    </mat-menu>
  </mat-toolbar>
  <div class="body-margin">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>