<h1>
  A Few Thoughts on the Assignment...</h1>
<div class='body'>
  <p>
    I thought this was interesting because the process was backwards in a way. Here are some components, what can you do with
    them? Usually, one shouldn't just reach for a drop-down, or sweet new progress bar just because it looks cool. Right? That being
    said, I do like the emphasis that the project put on creativity and intuition and 'figuring something out.'
  </p>
  <p>
    The restriction of using the components combined with the freedom to do whatever you want with them is a great a way to see
    a variety of skill sets that go further than technical knowledge.
  </p>
  <p>
    I started with the backend. Created the express server, then the models, followed by the api endpoints. I use Postman to check the requests. It's great for creating collections that allow you to check against both local and production environments.
  </p>
  <p>
    On the front end, Material components were awesome but primeNG is incompatible with Angular 6 and also the latest rxjs version.
    I don't know if that has come up but I found a fix today, a little late by importing the CSS into the global styles sheet. JUst an FYI. 
  </p>
  <p>
    Thank you for a great learning experience and I look forward to feedback and/or discussion of the project. 
  </p>


</div>