<div>
  <h1>Welcome to the Component Land!</h1>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM1At4LGnM180_Zvrhh2pc0pX3RuZIGZI0z0rEEfN5O6sC2MMG' alt='png'>
</div>
<div>
  Lel fi huepe jupu akse zej ire vesik kojvulom zon is biwuwkef pa. Uv hokivej voh ebu numdogi akolo hik uwlez ta vacev ofdaimi
  acunetum suvet uhdab ir soglazo ju pafbeb. Pub cezeh fuc kebamnul he ok luumoabi rawkig me fov pin zup biv risugra. Ralpunad
  apkomgib alnirciw akel wa lus wahfum burog buol vecotihe abadahoj ugolo wovki ucojal fec.'
</div>
<div>
  <h2>A visualization of the work in progress</h2>
</div>
<div>
  <mat-progress-bar mode='indeterminate'></mat-progress-bar>
</div>

<div style="margin-top: 20px;">
  <button style= "margin: 10px;" mat-raised-button color='primary' routerLink="/humor">Ready for the PrimeNg?
  </button>
  
    <button mat-raised-button color='accent' routerLink="/humor">Or you click here for a joke or two?
    </button>
  </div>

