<div>
  <h1>Welcome to Component World!!</h1>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM1At4LGnM180_Zvrhh2pc0pX3RuZIGZI0z0rEEfN5O6sC2MMG' alt='png'>
</div>
<div>
  <p>
    II huepe jupu akse zej ire vesik kojvulom zon is biwuwkef pa. Uv hokivej voh ebu numdogi akolo hik uwlez ta vacev ofdaim acunetum suvet uhdab ir soglazo ju pafbeb. Pub cezeh fuc kebamnul he ok luumoabi rawkig me fov pin zup biv risugra. Ralpunad apkomgib alnirciw akel wa lus wahfum burog buol vecotihe abadahoj ugolo wovki ucojal fec.'
  </p>
</div>
<div>
  <h2>Visualize Progress</h2>
</div>
<div>
  <mat-progress-bar mode='indeterminate'></mat-progress-bar>
</div>
<div style="margin-top: 20px;">
  <button style="margin: 10px;" mat-raised-button color='primary' routerLink="/tasks">Click here to see my personal task list... or ===>
  </button>
  <button mat-raised-button color='accent' routerLink="/humor"> you can click here for a laugh</button>
  <div>
    <h1 class='final-message'>
      Click this red button when you are done viewing the entire application. It serves to wrap up the entire process with some
      insight and feedback.
    </h1>
    <button mat-raised-button color='warn' routerLink="#">CLICK ONLY WHEN DONE!!!</button>
  </div>
</div>