<div>
  <h1>Welcome to Component World!!</h1>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM1At4LGnM180_Zvrhh2pc0pX3RuZIGZI0z0rEEfN5O6sC2MMG' alt='png'>
</div>
<div>
  <p>
  </p>
</div>
<div>
  <h2>Visualize Progress</h2>
</div>

<button mat-raised-button routerLink="/form">Don't forget to register!</button>

<div>
  <mat-progress-bar mode='indeterminate'></mat-progress-bar>
</div>
<div style="margin-top: 20px;">
  <button style="margin: 10px;" mat-raised-button color='primary' routerLink="/tasks">Cruddy Task List
  </button>
  <button mat-raised-button color='accent' routerLink="/humor">Have a Laugh</button>
  <div>
    <h1 class='final-message'>
      Click this red button when you are done viewing the entire application. It serves to wrap up the entire process with some
      insight and feedback.
    </h1>
    <button mat-raised-button color='warn' routerLink="#">CLICK ONLY WHEN DONE!!!</button>
  </div>
</div>